.first_input {
  width: 100%;
  height: 50px;
  margin: 2rem 0;
  padding-inline-start: 2rem;
  color: rgb(194, 194, 194);
  background-color: var(--primary-color);
  border: 3px solid rgba($color: rgb(141, 140, 140), $alpha: 0.5);
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 8px;
  text-align: start;
}
