.card {
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #fff;
  max-width: 350px;
  color: #fff;

  .title{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

.noteManage{
  display: flex;
  align-items: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 1rem;
  button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }
}